.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 1px solid var(--color-secondary-black);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  fill: var(--color-primery-dark);
  flex-shrink: 0;

  &:hover {
    background-color: #2b7fff;
    fill: var(--color-primery-white);
    border: 0;
  }
}

.next {
  transform: rotate(180deg);
}
